.Homer {
    border-radius: 0.3em;
    background-color: lightpink;
    padding: 3em;
    margin: 3em;

    display: flex;

    ul {

        list-style: none;
        width: 12em;
        padding: 0;

        li:nth-child(even) {
            background-color: lightcoral;
        }

        li {
            padding: 0.3em;
        }
    }

    img {
        display: block;
        margin: 2em;
    }
}